body {
        margin: 0;
        padding: 0;
        background-color: #e1eff7;
        color: black;
        font-family: 'Source Sans Pro', sans-serif;
      }

      #map {
        position: absolute;
        top: 48px;
        bottom: 0;
        width: 100%;
      }

header {
    position:top;
    top:0;
    left:0;
    }

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808d94;;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #4b636e; color: white;}

ul.topnav li a.active {background-color: #607d8b;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
