body {
    margin: 0;

    background-color: #e1eff7;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
        }


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808d94;;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #4b636e; color: white;}

ul.topnav li a.active {background-color: #607d8b;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
@media screen and (max-width: 600px) {
    .col-xs-4 {
        width: 100%;
    }
}
.social {
  position: fixed;
  left: 0;
  bottom: 5px;
  width: 100%;
  text-align: center;

}

.fa {
  padding: 20px;
  width: 63px;
  height: 63px;
  text-align: center;
  text-decoration: none;
  background: rgba(0, 64, 128, 0.5);
  color: white;
  border-radius: 20%;
  margin: 5px;
  z-index: 1;
  transition: 0.3s;
  }

.fa:hover {
  background: rgba(0, 64, 128, 1);
  text-decoration: none;
  color: white;}

#map {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}

#featuremap {
  position: static;
  width: 100%;
  height: 200px;

}

#map1 {
  position: static;
  width: 100%;
  height: 200px;
}
#map2 {
  position: static;
  width: 100%;
  height: 200px;
}

#map3 {
  position: static;
  width: 100%;
  height: 200px;
}


.images img {
  margin-right: 5px;
  height: 50px;
  border-radius: 10%;

}

.markerjordan {
  background-image: url('../images/marker_red.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.markerhannah {
  background-image: url('../images/marker_purple.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;

}

.mapboxg1-popup {
  max-width: 200px;
  padding: 20px;
  }
.mapboxg1-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;

    }

.tripperstop, .trippershannah, .trippersjordan {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/*insert image into this */
.tripperstop {
  ;
  background-image: url('../images/trippers/top_.jpg');
  min-height: 700px;
}
/*insert image into this */
.trippershannah {
  background-image: url("../images/trippers/hannah.png");
  min-height: 400px;
}

/*insert image into this */
.trippersjordan {
  background-image: url("../images/trippers/hannah_.jpg");
  min-height: 400px;
}

.title {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
  font-weight: bold;

}
.title span.border {
  background-color: transparent;
  color: #fff;
  padding: 18px;
  font-size: 25px;

}
.trippertext {
  color:inherit;
  background-color: inherit;
  text-align: justify;
  max-width: 800px;
  padding: 100px;
  margin: 0 auto;
  }
