body {
    margin: 0;

    background-color: #f4f4f4;
    color: black;
    font-family: 'Libre+Franklin', sans-serif;
    font-size: 17px;
        }
h3 {
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
    background-color:#111;
    opacity:0.75;
    color: #fff;
    text-align: center;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808d94;

}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

ul.topnav li a:hover:not(.active) {
  background-color: #4b636e;
  color: white;
  }

ul.topnav li a.active {
  background-color: #607d8b;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
@media screen and (max-width: 600px) {
    .col-xs-4 {
        width: 100%;
    }
}

.navbar-brand {
  letter-spacing: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

.social {
  position: fixed;
  left: 0;
  bottom: 5px;
  width: 100%;
  text-align: center;

}

.key {
  position: fixed;
  bottom: 70px;
  left: 10px;
  width: 100px;
  padding: 15px 5px 5px 5px;
  background: #fff;
  opacity: 0.75;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
    }

.key a:hover{
  text-decoration: none;
  color: black;
}

.social .fa {
  padding: 15px;
  width: 63px;
  height: 63px;
  text-align: center;
  text-decoration: none;
  background: rgba(0, 64, 128, 0.5);
  color: white;
  border-radius: 20%;
  margin: 5px;
  z-index: 1;
  transition: 0.3s;
  }

.fa:hover {
  background: rgba(0, 64, 128, 1);
  text-decoration: none;
  color: white;}

 .btn-primary {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  background-image: linear-gradient(to bottom, rgba(88, 154, 204,0), rgba(90, 150, 199,1));

}
.btn-primary:hover {
  text-decoration: none;
  background: rgba(0,64,128,0.75);
}

.btn-primary:active {
 text-align: center;
 letter-spacing: 2px;
 text-transform: uppercase;
 font-size: 15px;
 font-weight: bold;
 background-image: linear-gradient(to bottom, rgba(88, 154, 204,0), rgba(90, 150, 199,1));

}

.btn-primary .fa:hover {
  background: 0;
}



#map {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}

#featuremap {
  position: static;
  width: 100%;
  height: 200px;

}

#map1 {
  position: static;
  width: 100%;
  height: 200px;
}
#map2 {
  position: static;
  width: 100%;
  height: 200px;
}

#map3 {
  position: static;
  width: 100%;
  height: 200px;
}


.images img {
  margin-right: 5px;
  height: 50px;
  border-radius: 10%;

}

.markerjordan {
  background-image: url('../images/marker_red.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.markerhannah {
  background-image: url('../images/marker_purple.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;

}

.mapboxg1-popup {
  max-width: 200px;
  padding: 20px;
  }
.mapboxg1-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;

    }

.tripperstop, .trippershannah, .trippersjordan, .trippersfooter, .routestop, .routes1, .routes2, .routes3, .featureroute {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}


/*insert image into this */
.tripperstop {
  ;
  background-image: url('../images/trippers/top_.jpg');
  min-height: 700px;
}
/*insert image into this */
.trippershannah {
  background-image: url("../images/trippers/hannah_.jpg");
  min-height: 400px;
}

/*need to replace this image*/
.trippersjordan {
  background-image: url("../images/trippers/scoot.jpg");
  min-height: 400px;
}

/*need to replace this image*/
.routestop {
  background-image: url("../images/routes/test.jpg");
  min-height: 700px;
}

/*need to replace this image*/
.featureroute {
  background-image: url("../images/routes/roadtrip.jpg");
  min-height: 200px;
}

/*need to replace this image*/
.routes1 {
  background-image: url("../images/routes/car.jpg");
  min-height: 200px;
}

/*need to replace this image*/
.routes2 {
  background-image: url("../images/routes/route66.jpg");
  min-height: 200px;
}

/*need to replace this image*/
.routes3 {
  background-image: url("../images/routes/spain.jpg");
  min-height: 200px;
}

/*need to replace this image*/
.trippersfooter {
  background-image: url("../images/trippers/jordan.jpg");
  min-height: 700px;
}

.title {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
  font-weight: bold;
  text-transform: uppercase;

}
.title span.border {
  background-color: transparent;
  color: #fff;
  padding: 18px;
  font-size: 25px;

}
.trippertext {
  color:inherit;
  background-color: inherit;
  text-align: justify;
  max-width: 800px;
  padding: 50px 100px;
  margin: 0 auto;
  }

.routetext {
  color:inherit;
  background-color: inherit;
  text-align: justify;
  max-width: 70%;
  margin: 0 auto;
  }
