body {
    margin: 0;
    padding-top: 70px;
    background-color: #e1eff7;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    }



ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808d94;;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #4b636e; color: white;}

ul.topnav li a.active {background-color: #607d8b;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#featuremap {
  position: static;
  width: 100%;
  height: 200px;

}

#map1 {
  position: static;
  width: 100%;
  height: 200px;
}
#map2 {
  position: static;
  width: 100%;
  height: 200px;
}

#map3 {
  position: static;
  width: 100%;
  height: 200px;
}

.markerjordan {
  background-image: url('../images/marker_red.png');
  background-size: cover;
  width: 50px;
  height:50px;
  border-radius: 50%;
  cursor: pointer;
}
.markerhannah {
  background-image: url('../images/marker_red.png');
  background-size: cover;
  width: 50px;
  height:50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxg1-popup {
  max-width: 200px;
  }
.mapboxg1-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  }
